{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}Emprendedores CEDECUR | Inicio{% endblock %}
{% block content %}
	<!-- Hero section -->
	<section class="hero-section">
		<div class="hero-slider owl-carousel">
			<div class="hs-item set-bg img-responsive" data-setbg="{% static 'img/fondo-2.jpg' %}">
				<div class="container">
					<div class="row">
						<div class="banner-opacity">
							<div class="col-xl-12 col-lg-12 text-white text-center">
								<br>
								<br>
								<br>
								<h2>Generamos oportunidades para transformar</h2>
							</div>
						</div>
					</div>
						<!--<div class="offer-card text-white">
							<span>from</span>
							<h2>$29</h2>
							<p>SHOP NOW</p>
						</div>-->
				</div>
			</div>
			<div class="hs-item set-bg" data-setbg="{% static 'img/fondo-3.jpg' %}">
				<div class="container">
					<div class="row">
						<div class="banner-opacity">
							<div class="col-xl-12 col-lg-12 text-white text-center">
								<!--<span>New Arrivals</span>-->
								<br>
								<br>
								<br>
								<h2>Creamos Espacios para el encuentro</h2>
								<!--<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum sus-pendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. </p>
								<a href="#" class="site-btn sb-line">DISCOVER</a>
								<a href="#" class="site-btn sb-white">ADD TO CART</a>-->
							</div>
						</div>
						<!--<div class="offer-card text-white">
							<span>from</span>
							<h2>$29</h2>
							<p>SHOP NOW</p>
						</div>-->
					</div>
				</div>
			</div>
		</div>
		<div class="container">
			<div class="slide-num-holder" id="snh-1"></div>
		</div>
	</section>
	<!-- Hero section end -->


	<!-- letest product section -->
	<section class="top-letest-product-section">
		<div class="container">
			<!--<div class="section-title">
				<h2>LATEST PRODUCTS</h2>
			</div>-->
			<div class="row align-items-center">
				<div class="text-center col-12 col-xl-7">
					<br>
					<br><h3>¿QUIÉNES SOMOS?</h3>
					<br>
					<p1>Organización sin ánimo de lucro (ESAL) y regida por el derecho privado con 37 años trabajando en consolidar y mantener nuestra presencia en el Sur Occidente Colombiano de acuerdo a los temas prioritarios y políticas públicas.
					<br>Trabajamos de la mano con los diversos aliados y grupos de interés del territorio en programas y proyectos sociales, artísticos culturales, económicos, ambientales, agropecuarios y de generación de ingresos con los que buscamos cumplir nuestra misión de aportar al desarrollo equitativo de la sociedad Colombiana.</p1>
					<br>
					<br><h3>MODELO DE INTERVENCIÓN</h3>
					<br><img src="{% static 'img/modelo-intervencion.png' %}" />
					<br>
					<br>
				</div>
				<div class="col-12 col-xl-5 text-center">
					<div class="section-title align-items-center">
						<h1>NOTICIAS</h1>
					</div>
					<div class="fondo-cuadro shift_the_nav col-12 col-xl-12">
							<br>
						<div class="noticias padding">
						<br><h3>Gran Lanzamiento de "<u>seletienecali.com</u>"</h3>
						<br><h5>Este Jueves 25 de Abril de 2019</h5>
						<h5>Corporación CRES</h5>
						<h5>6 PM</h5>
						<br>
						</div>
						<br><div class="noticias padding">
						<br><h8>Misión</h8>
						<br><h6>El centro tiene como objetivo general contribuir al desarrollo equitativo de la sociedad colombiana, a través de la investigación, asesoría, asistencia técnica, interventoría, capacitación y ejecución de programas y proyectos de carácter social, artística y cultural, ambiental, agropecuario y productivo, integrales y/o sectoriales con personas y organizaciones, comunidades urbanas y rurales, sustentadas en los componentes de participación comunitaria e interinstitucionalidad.</h6>
						<br></div>
						<br><div class="noticias padding">
						<br><h8>Visión</h8>
						<br><h6>Para el año 2021 nos consolidaremos como una organización sostenible en la región, con un equipo de trabajo competente y reconocido por su excelente servicio, contando con aliados estratégicos e intervenciones comunitarias que permiten el accedo a bienes y servicios sociales que contribuyen al desarrollo integral de las comunidades.</h6>
						<br>
					</div>
						<br>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- letest product section end -->

{% endblock %}