{% extends 'base.html' %}
{% load staticfiles %}
{% load i18n %}
{% block title %}CEDECUR | Información (1){% endblock %}
{% block content %}


	<!-- Page info -->
	<div class="page-top-info">
		<div class="fondo-cuadro shift_the_nav col-12 col-xl-12">
			<div class="container text-center">
				<div class="row">
				<div class="site-pagination col-1 col-xl-1">
					<a href="javascript:window.history.back();"><img src="{% static 'img/btn-volver.png' %}" alt=""></a>
					<!--<a href="../cedecur/index.html">Inicio</a> /
					<a href="../cedecur/perfiles1.html">Atras</a>-->
				</div>
				<div class="col-11 col-xl-11">
					<br>
					<h4>Información</h4>
					<br>
				</div>
			</div>
			</div>
		</div>
	</div>
	<!-- Page info end -->


	<!-- Category section -->
	<section class="category-section spad">
		<div class="container">
			<div class="row">
				<div class="col-lg-3 order-2 order-lg-1 datos-empresa">			
					<!--<div class="filter-widget">
						<h2 class="fw-title">Categories</h2>
						<ul class="category-menu">
							<li><a href="#">Woman wear</a>
								<ul class="sub-menu">
									<li><a href="#">Midi Dresses <span>(2)</span></a></li>
									<li><a href="#">Maxi Dresses<span>(56)</span></a></li>
									<li><a href="#">Prom Dresses<span>(36)</span></a></li>
									<li><a href="#">Little Black Dresses <span>(27)</span></a></li>
									<li><a href="#">Mini Dresses<span>(19)</span></a></li>
								</ul>
							</li>
							<li><a href="#">Man Wear</a>
								<ul class="sub-menu">
									<li><a href="#">Midi Dresses <span>(2)</span></a></li>
									<li><a href="#">Maxi Dresses<span>(56)</span></a></li>
									<li><a href="#">Prom Dresses<span>(36)</span></a></li>
								</ul></li>
							<li><a href="#">Children</a></li>
							<li><a href="#">Bags & Purses</a></li>
							<li><a href="#">Eyewear</a></li>
							<li><a href="#">Footwear</a></li>
						</ul>
					</div>-->
					<div class="filter-widget mb-0">
						<div class="price-range-wrap">
							<div class="logo-image shift_the_nav">
								{% if enterprise.picture %}
                                    <img src="{{ enterprise.picture.url }}" alt="">
                                {% else %}
                                    <img src="{% static 'img/default-placeholder.png' %}" alt="">
                                {% endif %}
							</div>
							<div class="informacion-basica filter-widget text-center">
								<h2 class="fw-title">Información Basica</h2>
								<p1>Nombre : {{ enterprise.name }}</p1>
							</div>
                            {% if update_object_reversed_url %}
                                <a href="{{ update_object_reversed_url }}">
                                    <button class="btn btn-primary">
                                        {% trans 'Update' %}
                                    </button>
                                </a>
                            {% endif %}
                        </div>
					</div>
					<div class="filter-widget mb-0">
						<div class="descuentos filter-widget text-center mb-0">
							<h2 class="fw-title">Descuentos</h2>
                            {% for discount in discounts %}
                                <a href="{% url discount_qr_code_url discount.slug %}" target="_blank">

                                    <div class="cuadro-descuentos-verde shift_the_nav">
                                        <br>
                                        <p>{{ discount.product }}</p>
                                        <span>
                                            {% trans "Expires" %} : {{ discount.expires_on|date:"d F Y" }}
                                        </span>
                                        <br>
                                    </div>
                                </a>
                            {% empty %}

                            {% endfor %}
                             {% if add_discount_reversed_url %}
                                <a href="{{ add_discount_reversed_url }}">
                                    <button class="btn btn-primary">
                                        {% trans 'Add Discount' %}
                                    </button>
                                </a>
                            {% endif %}
						</div>
					</div>
					<div class="filter-widget mb-0">
						<div class="fw-size-choose">
						</div>
					</div>
					<div class="filter-widget">
						<h2 class="fw-title text-center">Últimos Post</h2>
						<div class="row">
							<div class="instagram-photo col-6 col-xl-4">
								<a href="https://www.instagram.com/p/BtjjNxeDn20/" class="p-instagram" data-src="" rel="nofollow noopener" target="_blank">
								<img src="{% static 'img/default-placeholder.png' %}" class="p3_instagram_square" alt="">
								</a>
							</div>
							<div class="instagram-photo col-6 col-xl-4">
								<a href="https://www.instagram.com/p/BtjjNxeDn20/" class="p-instagram" data-src="" rel="nofollow noopener" target="_blank">
								<img src="{% static 'img/default-placeholder.png' %}" class="p3_instagram_square" alt="">
								</a>
							</div>
							<div class="instagram-photo col-6 col-xl-4">
							<a href="https://www.instagram.com/p/BtjjNxeDn20/" class="p-instagram" data-src="" rel="nofollow noopener" target="_blank">
								<img src="{% static 'img/default-placeholder.png' %}" class="p3_instagram_square" alt="">
								</a>
								</div>
							<div class="instagram-photo col-6 col-xl-4">
								<a href="https://www.instagram.com/p/BtjjNxeDn20/" class="p-instagram" data-src="" rel="nofollow noopener" target="_blank">
								<img src="{% static 'img/default-placeholder.png' %}" class="p3_instagram_square" alt="">
								</a>
							</div>
							<div class="instagram-photo col-6 col-xl-4">
								<a href="https://www.instagram.com/p/BtjjNxeDn20/" class="p-instagram" data-src="" rel="nofollow noopener" target="_blank">
								<img src="{% static 'img/default-placeholder.png' %}" class="p3_instagram_square" alt="">
								</a>
							</div>
							<div class="instagram-photo col-6 col-xl-4">
								<a href="https://www.instagram.com/p/BtjjNxeDn20/" class="p-instagram" data-src="" rel="nofollow noopener" target="_blank">
								<img src="{% static 'img/default-placeholder.png' %}" class="p3_instagram_square" alt="">
								</a>
							</div>
						</div>
						<div class="filter-widget mb-0">
								<div class="fw-size-choose">
								</div>
							</div>
						<!--<ul class="category-menu">
							<li><a href="#">Abercrombie & Fitch <span>(2)</span></a></li>
							<li><a href="#">Asos<span>(56)</span></a></li>
							<li><a href="#">Bershka<span>(36)</span></a></li>
							<li><a href="#">Missguided<span>(27)</span></a></li>
							<li><a href="#">Zara<span>(19)</span></a></li>
						</ul>-->
					</div>
					<div class="filter-widget">
						<h2 class="fw-title text-center">Ubicación</h2>
						<div class="google-maps col-12 col-xl-12 text-left">
							<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d127450.10983615229!2d-76.59570455903695!3d3.3950618692137358!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8e30a6f0cc4bb3f1%3A0x1f0fb5e952ae6168!2sCali%2C+Valle+del+Cauca!5e0!3m2!1ses!2sco!4v1550789893379" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
						</div>
						</div>
				</div>

				<div class="col-12 col-lg-8  order-2 order-lg-2 mb-5 mb-lg-0">
					<div class="row"> 
							<div class="col-12 col-xl-12 text-center">
								<div class="branding-borde">
                                    {% if enterprise.description %}

                                        {{ enterprise.description }}

                                    {% else %}
                                        <br>
                                        <br>
                                        <br>
                                        <br>
                                        <br>
                                        <br>
                                        <h5>Branding de la Marca</h5>
                                        <br>
                                        <br>
                                        <br>
                                        <br>
                                        <br>
                                        <br>
                                    {% endif %}
								</div>		
							</div>
							<div class="fondo-cuadro shift_the_nav text-center col-12 col-xl-12">
									<h4 class="fw-title">Muestreario del Producto</h4>
                            </div>
                            {% for product in enterprise.product_set.all %}
                                <div class="col-lg-4 col-sm-6">
                                    <div class="product-item">
                                        <div class="pi-pic">
                                            <!--<div class="tag-sale">ON SALE</div>-->
                                            {% if product.picture %}
                                                <img src="{{ product.picture.url }}" alt="">
                                            {% else %}
                                                <img src="{% static 'img/default-placeholder.png' %}" alt="">
                                            {% endif %}
                                            <div class="pi-links">
                                                <!--<a href="#" class="add-card"><i class="flaticon-bag"></i><span>ADD TO CART</span></a>-->
                                                <a href="#" class="wishlist-btn"><i class="flaticon-heart"></i></a>
                                            </div>
                                        </div>
                                        <!--<div class="pi-text">
                                            <h6>$35,00</h6>
                                            <p>Black and White Stripes Dress</p>
                                        </div>-->
                                    </div>
                                </div>
                            {% empty %}
                                {% trans 'There are not products available' %}
                            {% endfor %}
                    {% if add_product_reversed_url %}
                        <div class="col-12 col-xl-12">
                            <a href="{{ add_product_reversed_url }}">
                                <button>{% trans 'Add product' %}</button>
                            </a>
                        </div>
                    {% endif %}
						<div class="col-12 col-xl-12 contact-info">
								<form class="contact-form text-center">
									<input type="text" placeholder="Nombre">
									<input type="text" placeholder="E-mail">
									<input type="text" placeholder="Titulo">
									<p><textarea placeholder="Mensaje"></textarea></p>
									<button class="site-btn">ENVIAR</button>
								</form>
								</div>

					</div>
				</div>
                {% if enterprise.facebook_url or enterprise.twitter_url or enterprise.youtube_url %}
                    <div class="col-1 col-lg-1 order-3 order-lg-3 text-center d-none d-sm-block">
                            <div class="social-box contact-social social-links shift_the_nav">
                                {% if enterprise.facebook_url %}
                                    <p><a href="{{ enterprise.facebook_url|default:"#" }}"><i class="fa fa-facebook"></i></a></p>
                                {% endif %}
                                {% if enterprise.twitter_url %}
                                    <p><a href="{{ enterprise.twitter_url|default:"#" }}"><i class="fa fa-twitter"></i></a></p>
                                {% endif %}
                                {% if enterprise.youtube_url %}
                                    <p><a href="{{ enterprise.youtube_url|default:"#" }}"><i class="fa fa-youtube"></i></a></p>
                                {% endif %}
                            </div>
                    </div>
                {% endif %}
			</div>
		</div>
	</section>
	<!-- Category section end -->
{% endblock %}