{% extends 'base.html' %}
{% load staticfiles %}
{% load i18n %}
{% block title %}Se le tiene Cali | Información (1){% endblock %}
{% block content %}


	<!-- Page info -->
	<div class="page-top-info">
		<div class="fondo-cuadro shift_the_nav col-12 col-xl-12">
			<div class="container text-center">
				<div class="row">
				<div class="site-pagination col-1 col-xl-1">
					<a href="javascript:window.history.back();"><img src="{% static 'img/btn-volver.png' %}" alt=""></a>
					<!--<a href="../cedecur/index.html">Inicio</a> /
					<a href="../cedecur/perfiles1.html">Atras</a>-->
				</div>
				<div class="col-11 col-xl-11">
					<br>
					<h4>Información</h4>
					<br>
				</div>
			</div>
			</div>
		</div>
	</div>
	<!-- Page info end -->


	<!-- Category section -->
	<section class="category-section spad">
		<div class="container">
			<div class="row">
				<div class="col-lg-3 order-2 order-lg-1 datos-empresa">			

					<div class="filter-widget mb-0">
						<div class="price-range-wrap">
							<div class="logo-image shift_the_nav">
								{% if enterprise.picture %}
                                    <img src="{{ enterprise.picture.url }}" alt="">
                                {% else %}
                                    <img src="{% static 'img/default-placeholder.png' %}" alt="">
                                {% endif %}
							</div>
							<div class="informacion-basica filter-widget text-center">
								<h2 class="fw-title">Información Basica</h2>
								<p1>Nombre : {{ enterprise.name }}</p1>
							</div>
                            {% if update_object_reversed_url %}
                                <a href="{{ update_object_reversed_url }}">
                                    <button class="btn btn-primary">
                                        {% trans 'Update' %}
                                    </button>
                                </a>
                            {% endif %}
                        </div>
					</div>
					<div class="filter-widget mb-0">
						<div class="descuentos filter-widget text-center mb-0">
							<h2 class="fw-title">Descuentos</h2>
                            {% for discount in discounts %}

                                <div class="cuadro-descuentos-verde shift_the_nav">
                                    <br>
                                    <p>{{ discount.product }}</p>
                                        <a href="{% url discount_qr_code_url discount.slug %}" target="_blank">
                                            <span>
                                                {% trans "Expires" %} : {{ discount.expires_on|date:"d F Y" }}
                                            </span>
                                        </a>
                                    {% if delete_discount_url %}
                                    <a href="{% url delete_discount_url enterprise.slug discount.slug %}">
                                        <i class="fa fa-trash"></i>
                                    </a>
                                    {% endif %}
                                    <br>
                                </div>
                            {% empty %}

                            {% endfor %}
                             {% if add_discount_reversed_url %}
                                <a href="{{ add_discount_reversed_url }}">
                                    <button class="btn btn-primary">
                                        {% trans 'Add Discount' %}
                                    </button>
                                </a>
                            {% endif %}
						</div>
					</div>
					<div class="filter-widget mb-0">
						<div class="fw-size-choose">
						</div>
					</div>

				</div>

				<div class="col-12 col-lg-8  order-2 order-lg-2 mb-5 mb-lg-0">
					<div class="row"> 
							<div class="col-12 col-xl-12 text-center">
								<div class="branding-borde">
                                    {% if enterprise.description %}

                                        {{ enterprise.description }}

                                    {% else %}
                                        <br>
									<br>
									<br>
									<br>
									<br>
									<br>
									<h5>Branding de la Marca</h5>
									<br>
									<br>
									<br>
									<br>
									<br>
									<br>
                                    {% endif %}
								</div>		
							</div>
							<div class="fondo-cuadro shift_the_nav text-center col-12 col-xl-12">
									<h4 class="fw-title padding">Muestreario del Producto</h4>
                            </div>
                            {% for product in enterprise.product_set.all %}
                                <div class="col-lg-4 col-sm-6">
                                    <div class="product-item">
                                        <div class="pi-pic">
                                            <!--<div class="tag-sale">ON SALE</div>-->
                                            {% if product.picture %}
                                                <img src="{{ product.picture.url }}" alt="">
                                            {% else %}
                                                <img src="{% static 'img/default-placeholder.png' %}" alt="">
                                            {% endif %}
                                            <div class="pi-links">
                                                <!--<a href="#" class="add-card"><i class="flaticon-bag"></i><span>ADD TO CART</span></a>-->
                                                {% if change_product_url %}
                                                    <a href="{% url change_product_url enterprise.slug product.slug %}" class="wishlist-btn"><i class="fa fa-edit"></i></a>
                                                {% endif %}
                                                {% if delete_product_url %}
                                                    <a href="{% url delete_product_url enterprise.slug product.slug %}" class="wishlist-btn"><i class="fa fa-trash"></i></a>
                                                {% endif %}
                                            </div>
                                        </div>
                                        <!--<div class="pi-text">
                                            <h6>$35,00</h6>
                                            <p>Black and White Stripes Dress</p>
                                        </div>-->
                                    </div>
                                </div>
                            {% empty %}
                                {% trans 'There are not products available' %}
                            {% endfor %}
                    {% if add_product_reversed_url %}
                        <div class="col-12 col-xl-12">
                            <a href="{{ add_product_reversed_url }}">
                                <button>{% trans 'Add product' %}</button>
                            </a>
                        </div>
                    {% endif %}
						<div class="col-12 col-xl-12 contact-info">
								<form class="contact-form text-center" method="POST" action="{{ add_contact_reversed_url }}">
                                    {% csrf_token %}
									<input type="text" placeholder="Nombre" name="name">
									<input type="text" placeholder="E-mail" name="email">
									<input type="text" placeholder="Titulo" name="title">
									<p><textarea placeholder="Mensaje" name="description"></textarea></p>
									<button class="site-btn">ENVIAR</button>
								</form>
								</div>
                        {% if list_contact_url_reversed %}
                            <a href="{{ list_contact_url_reversed }}">
                            <button>{% trans "See messages" %}</button>
                            </a>
                        {% endif %}

					</div>
				</div>
                {% if enterprise.facebook_url or enterprise.twitter_url or enterprise.youtube_url %}
                    <div class="col-1 col-lg-1 order-3 order-lg-3 text-center d-none d-sm-block">
                            <div class="social-box contact-social social-links shift_the_nav">
                                {% if enterprise.facebook_url %}
                                    <p><a href="{{ enterprise.facebook_url|default:"#" }}"><i class="fa fa-facebook"></i></a></p>
                                {% endif %}
                                {% if enterprise.twitter_url %}
                                    <p><a href="{{ enterprise.twitter_url|default:"#" }}"><i class="fa fa-twitter"></i></a></p>
                                {% endif %}
                                {% if enterprise.youtube_url %}
                                    <p><a href="{{ enterprise.youtube_url|default:"#" }}"><i class="fa fa-youtube"></i></a></p>
                                {% endif %}
                                {% if enterprise.whatsapp_number %}
                                    <p><a href="https://wa.me/57{{ enterprise.whatsapp_number }}" class="whatsapp"><i class="fa fa-whatsapp" id="whatsapp"></i></a></p>
                                {% endif %}
                            </div>
                    </div>
                {% endif %}
			</div>
		</div>
	</section>
	<!-- Category section end -->
{% endblock %}