{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}CEDECUR | Perfiles{% endblock %}
{% block content %}

	<!-- Page info -->
	<div class="page-top-info">
        <div class="fondo-cuadro shift_the_nav col-12 col-xl-12">
            <div class="container text-center">
                <br>
                <h4>Empresarios</h4>
                <br>
            </div>
            
         </div>
	</div>
	<!-- Page info end -->


	<!-- Category section -->
	<section class="category-section spad">
		<div class="container">
			<div class="row">
				<div class=" col-12 col-sm-12 col-lg-12 spad">
					<nav class="navbar navbar-expand-lg navbar-light">
					  <div class="collapse navbar-collapse justify-content-center" id="navbarSupportedContent">
					    <form class="form-inline my-2 my-lg-0" action="{% url search_filter_url_name %}">
					      <input class="form-control mr-sm-2" type="search" name="search" placeholder="Busqueda Avanzada" aria-label="Search">
					      <button class="btn btn-outline-success my-2 my-sm-0" type="submit"><img src="{% static 'img/lupa.png'%}" alt="" style="max-width: 35px;"></button>
					    </form>
					  </div>
					</nav>
				</div>
                <div class=" col-12 col-lg-2">
                        <div class="filter-widget">
                                <h2 class="fw-title">Categorias</h2>
                                <ul class="category-menu">
                                    {% for category in categories %}
                                        <li>
                                            <a href="{% url category_filter_url_name category.slug %}">{{ category.name }}</a>
                                            <ul class="sub-menu">
                                                {% for subcategory in category.subcategory_set.all %}
                                                    <li>
                                                        <a href="{% url subcategory_filter_url_name subcategory.slug %}">
                                                            {{ subcategory.name }}
                                                        </a>
                                                    </li>
                                                {% endfor %}

                                            </ul>
                                        </li>
                                    {% endfor%}
                                </ul>
                            </div>
                </div>
                <div class="col-12 col-lg-10">
                    <div class="row">
                        {% for enterprise in enterprises %}
                            <div class="col-lg-4 col-sm-12">
                                <div class="product-item">
                                    <div class="pi-pic shift_the_nav">
                                        <!--<div class="tag-sale">ON SALE</div>-->
                                        <a href="{% url enterprise_detail_url enterprise.slug %}">
                                            {% if enterprise.picture %}
                                                <img src="{{ enterprise.picture.url }}" alt="">
                                            {% else %}
                                                <img src="{% static 'img/default-placeholder.png' %}" alt="">
                                            {% endif %}
                                        </a>
                                            <div class="text-center">
                                                <br>
                                                <br>
                                                <h5>{{ enterprise.name }}</h5>
                                                <h5>{{ enterprise.description }}</h5>
                                                <br>
                                                <br>
                                            </div>
                                            <div class="social-box-profile social-links text-center">
                                                {% if enterprise.facebook_url  %}
                                                    <a href="{{ enterprise.facebook_url }}" class="facebook"><i class="fa fa-facebook" id="facebook"></i></a>
                                                {% endif %}
                                                {% if enterprise.instagram_url %}
                                                    <a href="{{ enterprise.instagram_url }}" class="instagram"><i class="fa fa-instagram" id="instagram"></i></a>
                                                {% endif %}
                                                {% if enterprise.whatsapp_number %}
                                                    <a href="https://wa.me/57{{ enterprise.whatsapp_number }}" class="whatsapp"><i class="fa fa-whatsapp" id="whatsapp"></i></a>
                                                {% endif %}


                                            </div>
                                        <!--<div class="pi-links">
                                            <a href="#" class="add-card"><i class="flaticon-bag"></i><span>ADD TO CART</span></a>
                                            <a href="#" class="wishlist-btn"><i class="flaticon-heart"></i></a>
                                        </div>-->
                                    </div>
                                    <!--<div class="pi-text">
                                        <h6>$35,00</h6>
                                        <p>Black and White Stripes Dress</p>
                                    </div>-->
                                </div>
                            </div>
                        {% endfor %}

                    </div>
                </div>
				</div>
			</div>
		</div>
	</section>
	<!-- Category section end -->

{% endblock %}