{% extends 'base.html' %}
{% load staticfiles %}
{% block title %}CEDECUR | Perfiles{% endblock %}
{% block content %}

	<!-- Page info -->
	<div class="page-top-info">
        <div class="fondo-cuadro shift_the_nav col-12 col-xl-12">
            <div class="container text-center">
                <br>
                <h4>Emprendedores</h4>
                <br>
            </div>
            
         </div>
	</div>
	<!-- Page info end -->


	<!-- Category section -->
	<section class="category-section spad">
		<div class="container">
			<div class="row">
                <div class=" col-12 col-lg-2">
                        <div class="filter-widget">
                                <h2 class="fw-title">Categorias</h2>
                                <ul class="category-menu">
                                    {% for category in categories %}
                                        <li>
                                            <a href="{% url category_filter_url_name category.slug %}">{{ category.name }}</a>
                                            <ul class="sub-menu">
                                                {% for subcategory in category.subcategory_set.all %}
                                                    <li>
                                                        <a href="{% url subcategory_filter_url_name subcategory.slug %}">
                                                            {{ subcategory.name }}
                                                        </a>
                                                    </li>
                                                {% endfor %}

                                            </ul>
                                        </li>
                                    {% endfor%}
                                </ul>
                            </div>
                </div>
                <div class="col-12 col-lg-10">
                    <div class="row">
                        {% for enterprise in enterprises %}
                            <div class="col-lg-4 col-sm-12">
                                <div class="product-item">
                                    <div class="pi-pic shift_the_nav">
                                        <!--<div class="tag-sale">ON SALE</div>-->
                                        <a href="/informacion"><img src="{% static 'img/default-placeholder.png' %}" alt=""></a>
                                            <div class="fondo-cuadro-2">
                                                <br>
                                                <br>
                                                <h5>Nombre: {{ enterprise.name }}</h5>
                                                <h5>Descripcion: {{ enterprise.description }}</h5>
                                                <br>
                                                <br>
                                            </div>
                                            <div class="social-box-profile social-links shift_the_nav text-center">
                                                <a href="" class="facebook"><i class="fa fa-facebook"></i></a>
                                                <a href="" class="twitter"><i class="fa fa-twitter"></i></a>
                                                <a href="" class="youtube"><i class="fa fa-youtube"></i></a>
                                            </div>
                                        <!--<div class="pi-links">
                                            <a href="#" class="add-card"><i class="flaticon-bag"></i><span>ADD TO CART</span></a>
                                            <a href="#" class="wishlist-btn"><i class="flaticon-heart"></i></a>
                                        </div>-->
                                    </div>
                                    <!--<div class="pi-text">
                                        <h6>$35,00</h6>
                                        <p>Black and White Stripes Dress</p>
                                    </div>-->
                                </div>
                            </div>
                        {% endfor %}

                    </div>
                </div>
				</div>
			</div>
		</div>
	</section>
	<!-- Category section end -->

{% endblock %}