{% extends 'base.html' %}
{% load i18n %}
{% block content %}
    <div class="row mensajes">
        <div class="col-10 mensaje">
            <h1 class="titulos">
                {% trans 'Formulario de' %} {{ model_name_plural }}
            </h1>

            {% for element in list %}
                <h3>{{ element.title }}</h3>
                <h6 style="color: black; font-weight: 100"><span style="font-weight: bold">Correo:</span> {{ element.email }}</h6>
                <h6 style="color: black; font-weight: 100"><span style="font-weight: bold">Télefono:</span> {{ element.tel }}</h6>
                <h6 style="color: black; font-weight: 100"><span style="font-weight: bold">Nombre:</span> {{ element.name }}</h6>
                <p style="color: black;"> {{ element.description }}</p>
                <p style="color: black;">{{ element.created|date:"Y-F-d" }}</p>
            {% endfor %}


        </div>
    </div>
{% endblock %}